{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Local Marketplace {% endblock %}
{% block body %}

  <div class="uk-padding">

    <div class="uk-grid-large uk-child-width-1-4@s uk-flex-center uk-text-cente" uk-grid>
      {% for i in '1234567890' %}
        <div>
          <div class="uk-card uk-card-small uk-card-hover uk-card-default">
            <div class="uk-card-media-top">
              <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
                   uk-slideshow>

                <ul class="uk-slideshow-items">
                  <li>
                    <img data-src="{% static 'product.jpg' %}" width="1800" height="1200"
                         alt="" uk-cover uk-img="target: !ul > :last-child, !* +*">
                  </li>
                  <li>
                    <img data-src="{% static 'product.jpg' %}" width="1800" height="1200"
                         alt="" uk-cover uk-img="target: !* -*, !* +*">
                  </li>
                  <li>
                    <img data-src="{% static 'product.jpg' %}" width="1800" height="1200"
                         alt="" uk-cover uk-img="target: !* -*, !ul > :first-child">
                  </li>
                </ul>

                <a class="uk-position-center-left uk-position-small uk-hidden-hover"
                   href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover"
                   href="#" uk-slidenav-next uk-slideshow-item="next"></a>

              </div>
            </div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">Media Top</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="uk-card-footer">
              <button class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
                Buy Now
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
